.articlesItem_link {
  text-decoration: none;
  color: var(--main-text-color);
  list-style: none;
  display: flex;
  text-align: start;
  align-items: center;
}
.articlesItem_link:visited {
  color: var(--main-text-color);
}
.articlesItem_link:visited {
  color: var(--main-text-color);
  width: 10%;
  padding: 33px 50px;
}

.articlesItem_img {
  padding: 8px 16px;
}

.articlesItem_title > span:hover {
  text-decoration: underline;
}
