.header {
  background-color: var(--header-bg-color);
  padding-top: 14px;
  padding-bottom: 14px;
}

.header_logo {
  fill: var(--header-text-color);
  stroke: white;
  width: 160px;
  height: 36px;
}
